:root {
    --bg: #4a3b32;
    --text: #f9cae3;
    --primary: #b8926a;
    --secondary: #d9a6a6;
    --card-bg: #87675b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 12px;
    color: var(--text);
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    padding: 0%;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--primary);
}

.section {
    padding: 40px 0;
}

.skills-container, 
.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-card{
    padding: 20px;
    background: var(--card-bg);
    border: 1px solid #ddd;
    flex: 1;
    text-align: center;
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.project-card {
    width: 300px;
    background: var(--card-bg);
    border: 1px solid #ddd;
    padding: 20px;
    transition: transform -0.3s ease, box-shadow 0.3s ease;
    align-items: center;
    flex: 1;
}

.project-card img {
    width: 180px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(red, green, blue, alpha);
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: var(--primary);
    transition: opacity 0.3s ease;
}

footer a:hover {
    opacity: 0.7;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        gap: 12px;
    }

    .skills-container,
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
}